.kkr {
  fill: rgba(112, 69, 143, 0.85);
}

.rcb {
  fill: rgba(70, 70, 70, 0.85);
}

.csk {
  fill: rgba(253, 185, 19, 0.85)
}

.kxip {
  fill: rgba(170, 69, 69, 0.85);
}

.rr {
  fill: rgba(45, 77, 157, 0.85);
}

.dd {
  fill: rgba(0, 76, 147, 0.85);
}

.mi {
  fill: rgba(0, 93, 160, 0.85);
}

.dc {
  fill: rgba(38, 48, 106, 0.85);
}

.ktk {
  fill: rgba(229, 73, 50, 0.85);
}

.srh {
  fill: rgba(251, 100, 62, 0.85);
}

.rps {
  fill: rgba(13, 42, 104, 0.85);
}

.gl {
  fill: rgba(229, 68, 25, 0.85);
}