.DashMenu {
  background: linear-gradient(90deg, #19398A 0%, #5191CD 49.83%, #19398A 100%);
  width: 50vw;
  height: fit-content;
  position: absolute;
  z-index: 999;
  top: 25vh;
  left: 25vw;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.8);
  padding: .5rem;
  border: 2px solid rgba(16, 33, 105, .7);
}

.DashMenu ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.DashMenu ul li {
  background: white;
  list-style-type: none;
  color: white;
  font-size: 1rem;
  padding: .3rem 1rem;
  margin: .5rem;
  border: none;
  background-color: rgba(244, 244, 248, 1);
  border-radius: 20px; 
  cursor: pointer;
}

.DashMenu ul li:hover {
  border: 1px solid rgb(233, 113, 94);
}

.DashMenu ul li a {
  text-decoration: none;
}

.Backdrop {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0vh;
  left: 0vw;
  z-index: 998;
  background: rgba(0, 0, 0, 0.5);
}